# Data Cleaning

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## North American Global Crisis Data

In [4]:
# Use this cell if grabbing data from the internet
url="https://www.hbs.edu/faculty/Documents/ChartData/MapCharts/20160923_global_crisis_data.xlsx"
data=pd.read_excel(url)

In [2]:
# Use this cell if you have a local copy of the data
# filepath = '/20160923_global_crisis_data.csv'     # Use your own filepath
# data = pd.read_excel(filepath)

In [5]:
# Confirm that we have properly loaded the data into a dataframe
type(data)

pandas.core.frame.DataFrame

In [5]:
# Look at first 5 rows
data.head(5)

,Case,CC3,Country,Year,Banking Crisis,Banking_Crisis_Notes,Systemic Crisis,Gold Standard,exch_usd,exch_usd_alt1,...,Domestic_Debt_ Notes/Sources,"SOVEREIGN EXTERNAL DEBT 1: DEFAULT and RESTRUCTURINGS, 1800-2012--Does not include defaults on WWI debt to United States and United Kingdom and post-1975 defaults on Official External Creditors","SOVEREIGN EXTERNAL DEBT 2: DEFAULT and RESTRUCTURINGS, 1800-2012--Does not include defaults on WWI debt to United States and United Kingdom but includes post-1975 defaults on Official External Creditors",Defaults_External_Notes,GDP_Weighted_default,<,"Inflation, Annual percentages of average consumer prices",Independence,Currency Crises,Inflation Crises
0,NaN,NaN,NaN,NaN,x,NaN,x,x,NaN,NaN,...,NaN,x,NaN,NaN,x,x,NaN,x,x,x
1,1.0,DZA,Algeria,1800.0,0,NaN,0,0,NaN,NaN,...,NaN,0,0.0,NaN,0,NaN,NaN,0,0,0
2,1.0,DZA,Algeria,1801.0,0,NaN,0,0,NaN,NaN,...,NaN,0,0.0,NaN,0,NaN,NaN,0,0,0
3,1.0,DZA,Algeria,1802.0,0,NaN,0,0,NaN,NaN,...,NaN,0,0.0,NaN,0,NaN,NaN,0,0,0
4,1.0,DZA,Algeria,1803.0,0,NaN,0,0,NaN,NaN,...,NaN,0,0.0,NaN,0,NaN,NaN,0,0,0

In [8]:
# Look at column names and types
data.columns

Index(['Case', 'CC3', 'Country', 'Year', 'Banking Crisis ',
       'Banking_Crisis_Notes', 'Systemic Crisis', 'Gold Standard', 'exch_usd',
       'exch_usd_alt1', 'exch_usd_alt2', 'exch_usd_alt3', 'conversion_notes',
       'national currency', 'exch_primary source code', 'exch_sources',
       'Domestic_Debt_In_Default', 'Domestic_Debt_ Notes/Sources',
       'SOVEREIGN EXTERNAL DEBT 1: DEFAULT and RESTRUCTURINGS, 1800-2012--Does not include defaults on WWI debt to United States and United Kingdom and post-1975 defaults on Official External Creditors',
       'SOVEREIGN EXTERNAL DEBT 2: DEFAULT and RESTRUCTURINGS, 1800-2012--Does not include defaults on WWI debt to United States and United Kingdom but includes post-1975 defaults on Official External Creditors',
       'Defaults_External_Notes', 'GDP_Weighted_default', '<',
       'Inflation, Annual percentages of average consumer prices',
       'Independence', 'Currency Crises', 'Inflation Crises'],
      dtype='object')

In [9]:
# Drop the first row because it is not actual data
data.drop(index=0)

,Case,CC3,Country,Year,Banking Crisis,Banking_Crisis_Notes,Systemic Crisis,Gold Standard,exch_usd,exch_usd_alt1,...,Domestic_Debt_ Notes/Sources,"SOVEREIGN EXTERNAL DEBT 1: DEFAULT and RESTRUCTURINGS, 1800-2012--Does not include defaults on WWI debt to United States and United Kingdom and post-1975 defaults on Official External Creditors","SOVEREIGN EXTERNAL DEBT 2: DEFAULT and RESTRUCTURINGS, 1800-2012--Does not include defaults on WWI debt to United States and United Kingdom but includes post-1975 defaults on Official External Creditors",Defaults_External_Notes,GDP_Weighted_default,<,"Inflation, Annual percentages of average consumer prices",Independence,Currency Crises,Inflation Crises
1,1.0,DZA,Algeria,1800.0,0,NaN,0,0,NaN,NaN,...,NaN,0,0.0,NaN,0,NaN,NaN,0,0,0
2,1.0,DZA,Algeria,1801.0,0,NaN,0,0,NaN,NaN,...,NaN,0,0.0,NaN,0,NaN,NaN,0,0,0
3,1.0,DZA,Algeria,1802.0,0,NaN,0,0,NaN,NaN,...,NaN,0,0.0,NaN,0,NaN,NaN,0,0,0
4,1.0,DZA,Algeria,1803.0,0,NaN,0,0,NaN,NaN,...,NaN,0,0.0,NaN,0,NaN,NaN,0,0,0
5,1.0,DZA,Algeria,1804.0,0,NaN,0,0,NaN,NaN,...,NaN,0,0.0,NaN,0,NaN,NaN,0,0,0
6,1.0,DZA,Algeria,1805.0,0,NaN,0,0,NaN,NaN,...,NaN,0,0.0,NaN,0,NaN,NaN,0,0,0
7,1.0,DZA,Algeria,1806.0,0,NaN,0,0,NaN,NaN,...,NaN,0,0.0,NaN,0,NaN,NaN,0,0,0
8,1.0,DZA,Algeria,1807.0,0,NaN,0,0,NaN,NaN,...,NaN,0,0.0,NaN,0,NaN,NaN,0,0,0
9,1.0,DZA,Algeria,1808.0,0,NaN,0,0,NaN,NaN,...,NaN,0,0.0,NaN,0,NaN,NaN,0,0,0
10,1.0,DZA,Algeria,1809.0,0,NaN,0,0,NaN,NaN,...,NaN,0,0.0,NaN,0,NaN,NaN,0,0,0
11,1.0,DZA,Algeria,1810.0,0,NaN,0,0,NaN,NaN,...,NaN,0,0.0,NaN,0,NaN,NaN,0,0,0
12,1.0,DZA,Algeria,1811.0,0,NaN,0,0,NaN,NaN,...,NaN,0,0.0,NaN,0,NaN,NaN,0,0,0
13,1.0,DZA,Algeria,1812.0,0,NaN,0,0,NaN,NaN,...,NaN,0,0.0,NaN,0,NaN,NaN,0,0,0
14,1.0,DZA,Algeria,1813.0,0,NaN,0,0,NaN,NaN,...,NaN,0,0.0,NaN,0,NaN,NaN,0,0,0
15,1.0,DZA,Algeria,1814.0,0,NaN,0,0,NaN,NaN,...,NaN,0,0.0,NaN,0,NaN,NaN,0,0,0
16,1.0,DZA,Algeria,1815.0,0,NaN,0,0,NaN,NaN,...,NaN,0,0.0,NaN,0,NaN,NaN,0,0,0
17,1.0,DZA,Algeria,1816.0,0,NaN,0,0,NaN,NaN,...,NaN,0,0.0,NaN,0,NaN,NaN,0,0,0
18,1.0,DZA,Algeria,1817.0,0,NaN,0,0,NaN,NaN,...,NaN,0,0.0,NaN,0,NaN,NaN,0,0,0
19,1.0,DZA,Algeria,1818.0,0,NaN,0,0,NaN,NaN,...,NaN,0,0.0,NaN,0,NaN,NaN,0,0,0
20,1.0,DZA,Algeria,1819.0,0,NaN,0,0,NaN,NaN,...,NaN,0,0.0,NaN,0,NaN,NaN,0,0,0
21,1.0,DZA,Algeria,1820.0,0,NaN,0,0,NaN,NaN,...,NaN,0,0.0,NaN,0,NaN,NaN,0,0,0
22,1.0,DZA,Algeria,1821.0,0,NaN,0,0,NaN,NaN,...,NaN,0,0.0,NaN,0,NaN,NaN,0,0,0
23,1.0,DZA,Algeria,1822.0,0,NaN,0,0,NaN,NaN,...,NaN,0,0.0,NaN,0,NaN,NaN,0,0,0
24,1.0,DZA,Algeria,1823.0,0,NaN,0,0,NaN,NaN,...,NaN,0,0.0,NaN,0,NaN,NaN,0,0,0
25,1.0,DZA,Algeria,1824.0,0,NaN,0,0,NaN,NaN,...,NaN,0,0.0,NaN,0,NaN,NaN,0,0,0
26,1.0,DZA,Algeria,1825.0,0,NaN,0,0,NaN,NaN,...,NaN,0,0.0,NaN,0,NaN,NaN,0,0,0
27,1.0,DZA,Algeria,1826.0,0,NaN,0,0,NaN,NaN,...,NaN,0,0.0,NaN,0,NaN,NaN,0,0,0
28,1.0,DZA,Algeria,1827.0,0,NaN,0,0,NaN,NaN,...,NaN,0,0.0,NaN,0,NaN,NaN,0,0,0
29,1.0,DZA,Algeria,1828.0,0,NaN,0,0,NaN,NaN,...,NaN,0,0.0,NaN,0,NaN,NaN,0,0,0
30,1.0,DZA,Algeria,1829.0,0,NaN,0,0,NaN,NaN,...,NaN,0,0.0,NaN,0,NaN,NaN,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15161,70.0,ZWE,Zimbabwe,1987.0,0,NaN,0,NaN,1.597e-26,1.723000e-03,...,NaN,0,0.0,NaN,0,0,12.5,1,0,0
15162,70.0,ZWE,Zimbabwe,1988.0,0,NaN,0,NaN,1.93e-26,2.012901e-03,...,NaN,0,0.0,NaN,0,0,7.4,1,1,0
15163,70.0,ZWE,Zimbabwe,1989.0,0,NaN,0,NaN,2.224e-26,2.351964e-03,...,NaN,0,0.0,NaN,0,0,12.8,1,1,0
15164,70.0,ZWE,Zimbabwe,1990.0,0,NaN,0,NaN,2.61e-26,2.731453e-03,...,NaN,0,0.0,NaN,0,0,17.4,1,1,0
15165,70.0,ZWE,Zimbabwe,1991.0,0,NaN,0,NaN,5.042e-26,5.232525e-03,...,NaN,0,0.0,NaN,0,1,24,1,1,1
15166,70.0,ZWE,Zimbabwe,1992.0,0,NaN,0,NaN,5.367e-26,5.680044e-03,...,NaN,0,0.0,NaN,0,1,41.6,1,0,1
15167,70.0,ZWE,Zimbabwe,1993.0,0,NaN,0,NaN,6.814e-26,7.184943e-03,...,NaN,0,0.0,NaN,0,0,28.2,1,1,1
15168,70.0,ZWE,Zimbabwe,1994.0,0,NaN,0,NaN,8.38e-26,8.689424e-03,...,NaN,0,0.0,NaN,0,0,21.1135,1,1,1
15169,70.0,ZWE,Zimbabwe,1995.0,1,Two of five commercial banks have a high level...,1,NaN,9.308e-26,9.646555e-03,...,NaN,0,0.0,NaN,0,0,25.8087,1,0,1
15170,70.0,ZWE,Zimbabwe,1996.0,1,Two of five commercial banks have a high level...,1,NaN,1.0825e-25,1.122957e-02,...,NaN,0,0.0,NaN,0,0,16.4003,1,1,0
15171,70.0,ZWE,Zimbabwe,1997.0,1,Two of five commercial banks have a high level...,1,NaN,1.825e-25,1.927875e-02,...,NaN,0,0.0,NaN,0,1,20.065,1,1,1
15172,70.0,ZWE,Zimbabwe,1998.0,1,Two of five commercial banks have a high level...,1,NaN,3.71e-25,3.871599e-02,...,NaN,0,0.0,NaN,0,1,46.6113,1,1,1
15173,70.0,ZWE,Zimbabwe,1999.0,1,Two of five commercial banks have a high level...,1,NaN,3.7237e-25,3.951335e-02,...,NaN,0,0.0,NaN,0,0,56.9232,1,0,1
15174,70.0,ZWE,Zimbabwe,2000.0,1,Two of five commercial banks have a high level...,1,NaN,5.5e-25,5.705066e-02,...,NaN,1,1.0,NaN,0,0,55.2037,1,1,1
15175,70.0,ZWE,Zimbabwe,2001.0,1,Two of five commercial banks have a high level...,1,NaN,5.505e-25,5.701926e-02,...,NaN,1,1.0,NaN,0,0,112.118,1,0,1
15176,70.0,ZWE,Zimbabwe,2002.0,1,Two of five commercial banks have a high level...,1,NaN,5.495e-25,5.701926e-02,...,NaN,1,1.0,NaN,0,1,198.929,1,0,1
15177,70.0,ZWE,Zimbabwe,2003.0,1,Two of five commercial banks have a high level...,1,NaN,7.95e-24,8.534102e-01,...,NaN,1,1.0,NaN,0,1,598.745,1,1,1
15178,70.0,ZWE,Zimbabwe,2004.0,1,Two of five commercial banks have a high level...,1,NaN,5.6e-23,5.935753e+00,...,NaN,1,1.0,NaN,0,0,132.747,1,1,1
15179,70.0,ZWE,Zimbabwe,2005.0,1,Two of five commercial banks have a high level...,1,NaN,8.45876e-22,8.077443e+01,...,NaN,1,1.0,NaN,0,0,585.844,1,1,1
15180,70.0,ZWE,Zimbabwe,2006.0,1,Two of five commercial banks have a high level...,1,NaN,3e-19,2.589200e+02,...,With over 98.5 percent of domestic debt with m...,1,1.0,NaN,0,0,1281.11,1,1,1
15181,70.0,ZWE,Zimbabwe,2007.0,1,Two of five commercial banks have a high level...,1,NaN,1.9e-16,3.000000e+04,...,With over 98.5 percent of domestic debt with m...,1,1.0,NaN,0,0,66279.9,1,1,1
15182,70.0,ZWE,Zimbabwe,2008.0,1,Two of five commercial banks have a high level...,1,NaN,0.002,4.900000e+06,...,With over 98.5 percent of domestic debt with m...,1,1.0,NaN,0,0,2.19897e+07,1,1,1
15183,70.0,ZWE,Zimbabwe,2009.0,1,Two of five commercial banks have a high level...,1,NaN,354.8,NaN,...,With over 98.5 percent of domestic debt with m...,1,1.0,NaN,0,1,-7.67,1,1,0
15184,70.0,ZWE,Zimbabwe,2010.0,0,NaN,0,NaN,378.2,NaN,...,NaN,1,1.0,NaN,0,0,3.217,1,0,0
15185,70.0,ZWE,Zimbabwe,2011.0,0,NaN,0,NaN,361.9,NaN,...,NaN,1,1.0,NaN,0,0,4.92,1,0,0
15186,70.0,ZWE,Zimbabwe,2012.0,0,NaN,0,NaN,361.9,NaN,...,NaN,1,1.0,NaN,0,0,3.72,1,0,0
15187,70.0,ZWE,Zimbabwe,2013.0,0,NaN,0,NaN,361.9,NaN,...,NaN,1,1.0,NaN,0,0,1.632,1,0,0
15188,70.0,ZWE,Zimbabwe,2014.0,0,NaN,0,NaN,NaN,NaN,...,NaN,1,1.0,NaN,0,0,-0.213,1,0,0
15189,70.0,ZWE,Zimbabwe,2015.0,NaN,NaN,0,NaN,NaN,NaN,...,NaN,1,1.0,NaN,0,NaN,-2.399,1,0,0
15190,70.0,ZWE,Zimbabwe,2016.0,NaN,NaN,0,NaN,NaN,NaN,...,NaN,1,1.0,NaN,0,NaN,-1.239,1,0,0

In [14]:
# Examine datatypes of the columns
data.dtypes

Case                                                                                                                                                                                                          float64
CC3                                                                                                                                                                                                            object
Country                                                                                                                                                                                                        object
Year                                                                                                                                                                                                          float64
Banking Crisis                                                                                                                                                                                                 object
Banking_Crisis_Notes                                                                                                                                                                                           object
Systemic Crisis                                                                                                                                                                                                object
Gold Standard                                                                                                                                                                                                  object
exch_usd                                                                                                                                                                                                       object
exch_usd_alt1                                                                                                                                                                                                 float64
exch_usd_alt2                                                                                                                                                                                                 float64
exch_usd_alt3                                                                                                                                                                                                  object
conversion_notes                                                                                                                                                                                               object
national currency                                                                                                                                                                                              object
exch_primary source code                                                                                                                                                                                       object
exch_sources                                                                                                                                                                                                   object
Domestic_Debt_In_Default                                                                                                                                                                                       object
Domestic_Debt_ Notes/Sources                                                                                                                                                                                   object
SOVEREIGN EXTERNAL DEBT 1: DEFAULT and RESTRUCTURINGS, 1800-2012--Does not include defaults on WWI debt to United States and United Kingdom and post-1975 defaults on Official External Creditors              object
SOVEREIGN EXTERNAL DEBT 2: DEFAULT and RESTRUCTURINGS, 1800-2012--Does not include defaults on WWI debt to United States and United Kingdom but includes post-1975 defaults on Official External Creditors    float64
Defaults_External_Notes                                                                                                                                                                                        object
GDP_Weighted_default                                                                                                                                                                                           object
<                                                                                                                                                                                                              object
Inflation, Annual percentages of average consumer prices                                                                                                                                                       object
Independence                                                                                                                                                                                                   object
Currency Crises                                                                                                                                                                                                object
Inflation Crises                                                                                                                                                                                               object
dtype: object

In [39]:
# Create a dataframe that only contains data from the US and Canada (North America, essentially)
north_american_data = pd.concat([
    data.loc[data['Country'] == 'Canada'],
    data.loc[data['Country'] == 'Mexico'], 
    data.loc[data['Country'] == 'United States']])
north_american_data.head(10)

,Case,CC3,Country,Year,Banking Crisis,Banking_Crisis_Notes,Systemic Crisis,Gold Standard,exch_usd,exch_usd_alt1,...,Domestic_Debt_ Notes/Sources,"SOVEREIGN EXTERNAL DEBT 1: DEFAULT and RESTRUCTURINGS, 1800-2012--Does not include defaults on WWI debt to United States and United Kingdom and post-1975 defaults on Official External Creditors","SOVEREIGN EXTERNAL DEBT 2: DEFAULT and RESTRUCTURINGS, 1800-2012--Does not include defaults on WWI debt to United States and United Kingdom but includes post-1975 defaults on Official External Creditors",Defaults_External_Notes,GDP_Weighted_default,<,"Inflation, Annual percentages of average consumer prices",Independence,Currency Crises,Inflation Crises
1737,9.0,CAN,Canada,1800.0,0,NaN,0,0,0.2441,NaN,...,NaN,0,0.0,NaN,0,NaN,NaN,0,0,0
1738,9.0,CAN,Canada,1801.0,0,NaN,0,0,0.2379,NaN,...,NaN,0,0.0,NaN,0,NaN,NaN,0,0,0
1739,9.0,CAN,Canada,1802.0,0,NaN,0,0,0.2553,NaN,...,NaN,0,0.0,NaN,0,NaN,NaN,0,0,0
1740,9.0,CAN,Canada,1803.0,0,NaN,0,0,0.2527,NaN,...,NaN,0,0.0,NaN,0,NaN,NaN,0,0,0
1741,9.0,CAN,Canada,1804.0,0,NaN,0,0,0.243,NaN,...,NaN,0,0.0,NaN,0,NaN,NaN,0,0,0
1742,9.0,CAN,Canada,1805.0,0,NaN,0,0,0.2528,NaN,...,NaN,0,0.0,NaN,0,NaN,NaN,0,0,0
1743,9.0,CAN,Canada,1806.0,0,NaN,0,0,0.2478,NaN,...,NaN,0,0.0,NaN,0,NaN,NaN,0,0,0
1744,9.0,CAN,Canada,1807.0,0,NaN,0,0,0.2534,NaN,...,NaN,0,0.0,NaN,0,NaN,NaN,0,0,0
1745,9.0,CAN,Canada,1808.0,0,NaN,0,0,0.2418,NaN,...,NaN,0,0.0,NaN,0,NaN,NaN,0,0,0
1746,9.0,CAN,Canada,1809.0,0,NaN,0,0,0.2478,NaN,...,NaN,0,0.0,NaN,0,NaN,NaN,0,0,0

In [45]:
# Drop unneccesary columns 
north_american_data = north_american_data.drop(columns=[
    'exch_usd_alt2', 
    'exch_usd_alt3',
    'conversion_notes',
    'SOVEREIGN EXTERNAL DEBT 2: DEFAULT and RESTRUCTURINGS, 1800-2012--Does not include defaults on WWI debt to United States and United Kingdom but includes post-1975 defaults on Official External Creditors',
    '<'])

In [48]:
# Rename that one SOVEREIGN EXTERNAL DEBT column
north_american_data = north_american_data.rename(columns={"SOVEREIGN EXTERNAL DEBT 1: DEFAULT and RESTRUCTURINGS, 1800-2012--Does not include defaults on WWI debt to United States and United Kingdom and post-1975 defaults on Official External Creditors": "Sovereign External Debt"})

In [49]:
# Describe quantatative data
north_american_data.describe()

             Case         Year  exch_usd_alt1
count  651.000000   651.000000      271.00000
mean    38.000000  1908.000000        1.26906
std     23.298795    62.690007        3.06304
min      9.000000  1800.000000        0.00000
25%      9.000000  1854.000000        0.00000
50%     39.000000  1908.000000        0.00688
75%     66.000000  1962.000000        1.07610
max     66.000000  2016.000000       16.49000

In [50]:
# Check for NANs (Spoiler Alert: There are a lot)
north_american_data.isna().any()

Case                                                        False
CC3                                                         False
Country                                                     False
Year                                                        False
Banking Crisis                                               True
Banking_Crisis_Notes                                         True
Systemic Crisis                                              True
Gold Standard                                               False
exch_usd                                                     True
exch_usd_alt1                                                True
national currency                                            True
exch_primary source code                                     True
exch_sources                                                False
Domestic_Debt_In_Default                                     True
Domestic_Debt_ Notes/Sources                                 True
Sovereign External Debt                                     False
Defaults_External_Notes                                      True
GDP_Weighted_default                                        False
Inflation, Annual percentages of average consumer prices     True
Independence                                                False
Currency Crises                                             False
Inflation Crises                                             True
dtype: bool

## Unemployment Data

In [53]:
# US
us_url = 'https://fred.stlouisfed.org/graph/fredgraph.csv?bgcolor=%23e1e9f0&chart_type=line&drp=0&fo=open%20sans&graph_bgcolor=%23ffffff&height=450&mode=fred&recession_bars=on&txtcolor=%23444444&ts=12&tts=12&width=1168&nt=0&thu=0&trc=0&show_legend=yes&show_axis_titles=yes&show_tooltip=yes&id=LRUN64TTUSA156S&scale=left&cosd=1960-01-01&coed=2019-01-01&line_color=%234572a7&link_values=false&line_style=solid&mark_type=none&mw=3&lw=2&ost=-99999&oet=99999&mma=0&fml=a&fq=Annual&fam=avg&fgst=lin&fgsnd=2009-06-01&line_index=1&transformation=lin&vintage_date=2020-10-29&revision_date=2020-10-29&nd=1960-01-01'
us_unemployment=pd.read_csv(us_url)

# Mexico
mx_url = 'https://fred.stlouisfed.org/graph/fredgraph.csv?bgcolor=%23e1e9f0&chart_type=line&drp=0&fo=open%20sans&graph_bgcolor=%23ffffff&height=450&mode=fred&recession_bars=off&txtcolor=%23444444&ts=12&tts=12&width=1168&nt=0&thu=0&trc=0&show_legend=yes&show_axis_titles=yes&show_tooltip=yes&id=LRUNTTTTMXM156N&scale=left&cosd=1987-01-01&coed=2009-12-01&line_color=%234572a7&link_values=false&line_style=solid&mark_type=none&mw=3&lw=2&ost=-99999&oet=99999&mma=0&fml=a&fq=Monthly&fam=avg&fgst=lin&fgsnd=2009-06-01&line_index=1&transformation=lin&vintage_date=2020-10-29&revision_date=2020-10-29&nd=1987-01-01'
mx_unemployment=pd.read_csv(mx_url)

# Canada
ca_url = 'https://fred.stlouisfed.org/graph/fredgraph.csv?bgcolor=%23e1e9f0&chart_type=line&drp=0&fo=open%20sans&graph_bgcolor=%23ffffff&height=450&mode=fred&recession_bars=off&txtcolor=%23444444&ts=12&tts=12&width=1168&nt=0&thu=0&trc=0&show_legend=yes&show_axis_titles=yes&show_tooltip=yes&id=LRUNTTTTCAA156S&scale=left&cosd=1960-01-01&coed=2019-01-01&line_color=%234572a7&link_values=false&line_style=solid&mark_type=none&mw=3&lw=2&ost=-99999&oet=99999&mma=0&fml=a&fq=Annual&fam=avg&fgst=lin&fgsnd=2009-06-01&line_index=1&transformation=lin&vintage_date=2020-10-29&revision_date=2020-10-29&nd=1960-01-01'
ca_unemployment=pd.read_csv(ca_url)

In [54]:
us_unemployment.head(10)

         DATE  LRUN64TTUSA156S
0  1960-01-01         5.617115
1  1961-01-01         6.770271
2  1962-01-01         5.596210
3  1963-01-01         5.739126
4  1964-01-01         5.246175
5  1965-01-01         4.579955
6  1966-01-01         3.832191
7  1967-01-01         3.891057
8  1968-01-01         3.608531
9  1969-01-01         3.557987

## GDP & Per Capita GDP Data

In [37]:
# Aquire GDP and per capita GDP data
gdp_url = 'http://www.ggdc.net/MADDISON/Historical_Statistics/horizontal-file_02-2010.xls'

gdp_data = pd.read_excel(gdp_url, sheet_name='GDP')
percapita_gdp_data = pd.read_excel(gdp_url, sheet_name='PerCapita GDP')

In [51]:
# Confirm that we have properly loaded the data into a dataframe
print(type(gdp_data))
print(type(percapita_gdp_data))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

In [38]:
# Check out the dataframes
gdp_data.head(5)

,Per Capita GDP,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 190,Unnamed: 191,Unnamed: 192,Unnamed: 193,Unnamed: 194,Unnamed: 195,Unnamed: 196,Unnamed: 197,Unnamed: 198,Unnamed: 199
0,(1990 International Geary-Khamis dollars),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,1.0,NaN,1000.0,NaN,1500,NaN,1600.000,NaN,1700.0,...,1999.000000,2000.000000,2001.000000,2002.000000,2003.000000,2004.000000,2005.000000,2006.000000,2007.000000,2008.000000
2,Western Europe,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Austria,425.0,NaN,425.0,NaN,707,NaN,837.200,NaN,993.2,...,20065.093878,20691.415561,20812.893753,20955.874051,21165.047259,21626.929322,22140.725899,22892.682427,23674.041130,24130.547035
4,Belgium,450.0,NaN,425.0,NaN,875,NaN,975.625,NaN,1144.0,...,19964.428266,20656.458570,20761.238278,21032.935511,21205.859281,21801.602508,22246.561977,22881.632810,23446.949672,23654.763464

In [52]:
# Check out the dataframes
percapita_gdp_data.head(5)

,Per Capita GDP,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 190,Unnamed: 191,Unnamed: 192,Unnamed: 193,Unnamed: 194,Unnamed: 195,Unnamed: 196,Unnamed: 197,Unnamed: 198,Unnamed: 199
0,(1990 International Geary-Khamis dollars),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,1.0,NaN,1000.0,NaN,1500,NaN,1600.000,NaN,1700.0,...,1999.000000,2000.000000,2001.000000,2002.000000,2003.000000,2004.000000,2005.000000,2006.000000,2007.000000,2008.000000
2,Western Europe,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Austria,425.0,NaN,425.0,NaN,707,NaN,837.200,NaN,993.2,...,20065.093878,20691.415561,20812.893753,20955.874051,21165.047259,21626.929322,22140.725899,22892.682427,23674.041130,24130.547035
4,Belgium,450.0,NaN,425.0,NaN,875,NaN,975.625,NaN,1144.0,...,19964.428266,20656.458570,20761.238278,21032.935511,21205.859281,21801.602508,22246.561977,22881.632810,23446.949672,23654.763464